body{
    background-image: url("/giftit/images/roomview.jpg");
}
.label {
    display: block;
    text-align: center;
}
.form-group{
    display: block;
    margin-left: 25%;
}

.btn{
    margin-left: 26%;
}